/* Case studies Styling */
.branding {
  justify-self: start;
}

.case-study-main-grid {
  align-items: center;
  display: grid;
  grid-template-rows: 312px 359px 750px 1010px 1670px 324px 430px 427px 1268px 745px 677px;
  grid-template-columns: 100%;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  width: 80px;
}

.font-grid {
  display: grid;
  grid-template-columns: 91px 91px;
}

.logo-progression {
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
}

.palette {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.rectangle {
  height: 80px;
  width: 11px;
  display: inline-block;
  justify-self: end;
  align-self: center;
}

/** Collab Case Study **/

.collab-blue {
  background-color: #0277BD;
}

.collab-font {
  font-family: 'Roboto', sans-serif;
}

.collab-italic {
  font-style: italic;
}

.collab-bold {
  font-weight: bold;
}

.collab-bold-italic {
  font-weight: bold;
  font-style: italic;
}

.collab-font-sample {
  display: grid;
  grid-template-columns: 15% 50%;
  grid-template-rows: 80px;
  grid-column-gap: 16px;
}

.collab-font-size {
  font-size: 80px;
}

.collab-green {
  background-color: #17A45F;
}

.collab-grey {
  background-color: #4B4C4D;
}

.collab-lightGrey {
  background-color: #DCDCDC;
}

.collab-red {
  background-color: #DD2C00;
}

.collab-white {
  background-color: #F9FDFF;
}

/** Colors **/

.black-background {
  background-color: #272626;
}

.black-font {
  color: #000;
}

.grey-background {
  background-color: #C0BEC3;
}

.white-font {
  color: #fff;
}

/* Menu */

.menu {
  display: none;
  z-index: 799;
}

.menu-grid {
  display: grid;
  grid-template-rows: 62px 126px;
  grid-template-columns: 100%;
  justify-content: center;
}

.menu-links {
  font-size: 20px;
  font-weight: bold;
  margin-top: 42px;
  text-align: center;
}

.menu-ul {
  justify-self: center;
}

.menu-icon {
  opacity: 1;
  z-index: 999;
}

.closeBtn {
  align-self: center;
  font-size: 24px;
  justify-self: end;
  opacity: 0;
  width: 24px;
  z-index: 799;
}

.enableBtn {
  opacity: 1;
}
.menu-icon:hover {
  font-size: 26px;
}

.disBtn{
  opacity: 0;
}

.showMenu{
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
}

.mobile, .desktop-menu {
  display: none;
}

/** Structure **/

body {
  font-family: 'Assistant', sans-serif;
}

.button {
  background-color: #8349FF;
  border-radius: 13px;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.button:hover {
  background-color: #6834D7;
}

.button-width{
  width: 165px;
}

.case-study-button {
  width: 120px;
}

.wide-button {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 193px;
}

.center {
  text-align: center;
}

.content {
  margin-left: 42px;
  margin-right: 42px;
}

.featured-work {
  height: 487px;
  display: grid;
  align-items: center;
  grid-template-rows: 196px 291px;
}

.footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  height: 60px;
  justify-items: center;
  margin-top: 20px;
}

.home-header {
  background-image: url("../assets/portfoliobackground.png");
  background-size: cover;
  background-position: center;
  height: 272px;
  text-shadow: 2px 0px 4px #00000070;
}

.icons {
  font-size: 24px;
  justify-self: end;
  width: 24px;
}

.logo {
  justify-self: start;
}

.margin-top-bottom {
  margin-top: 16px;
  margin-bottom: 16px;
}

.stretch-center {
  align-content: center;
  align-self: stretch;
  display: grid;
  grid-row-gap: 16px;
  justify-items: center;
}

.self-center {
  justify-self: center;
}

.top-menu {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 62px;
  align-items: center;
}

ul {
  font-weight: 100;
  justify-self: center;
}

/** Typography **/

a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 42px;
}

.h1-case-study {
  margin-top: 12px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.h1-home {
  margin-top: 32px;
  margin-bottom: 16px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-weight: bold;
}

.h6-case-study {
  margin-bottom: 7px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}
