/* Case studies Styling */
@media (min-width: 1025px) {
  .case-study-main-grid {
    grid-template-rows: 285px 300px 475px 617px 782px 400px 312px 880px 1108px 700px 453px
  }
  .clickable-prototype {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .clickable-prototype-img {
    width: 100%;
  }
  .conclusion {
    padding: 35px;
  }
  .font-grid {
    justify-content: center;
  }
  .logo-progression {
    grid-template-columns: 25% 25% 25% 25%;
    justify-self: center;
  }
  .logo-progression-ind {
    height: 215px;
    width: 169px;
  }
  .palette {
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
    justify-self: center;
  }
  .persona {
    justify-items: center;
    align-items: center;
  }
  .survey-img {
    height: 280px;
  }
  .tri {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    justify-content: center;
  }
  .tri-grid {
    justify-items: center;
    align-content: center;
  }
  .user-flow-img {
    height: 272px;
    width: 466px;
  }
  .vertical-divider {
    align-self: center;
    height: 225px;
    justify-self: center;
    border-left: 1px solid #C0BEC3;
  }
  .persona-divider {
    height: 520px;
  }
  .wireframe-img {
    height: 552px;
    justify-self: center;
    width: 836px;
  }
}
@media(min-width: 500px) and (max-width: 1024px) {
  .case-study-main-grid {
    grid-template-rows: 244px 243px 560px 1060px 1433px 400px 312px 630px 1108px 920px 525px;
  }
  .clickable-prototype-img {
    height: 291px;
    width: 466px;
  }
  .wireframe-img {
    width: 500px;
  }
}
@media(min-width: 320px) and (max-width: 499px) {
  .case-study-main-grid {
    grid-template-rows: 312px 359px 818px 1099px 1810px 355px 515px 800px 1268px 1020px 715px
  }
  .clickable-prototype-img {
    width: 100%;
  }  
  #survey {
    grid-template-rows: 20% 121%;
    justify-items: center;
  }
  #user-flow {
    grid-template-rows: 44% 40%;
  }
  .wireframe-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .clickable-prototype {
    display: grid;
    grid-gap: 16px;
  }
  .logo-progression {
    grid-template-columns: 50% 50%;
  }
  .logo-progression-ind {
    height: 170px;
    width: 141px;
  }
  .palette {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .survey-img {
    height: 266px;
    width: 100%;
    max-width: 415px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
  }
  .tri {
    display: grid;
    grid-gap: 16px;
  }
  .user-flow-img {
    width: 100%;
  }
}

.branding {
  justify-self: center;
}

.case-study-main-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  width: 80px;
}

.font-grid {
  display: grid;
  grid-template-columns: 91px 91px;
}

.logo-progression {
  background-color: #fff;
  display: grid;
}

.palette {
  display: grid;
  grid-gap: 8px;
}

.rectangle {
  height: 80px;
  width: 11px;
  display: inline-block;
  justify-self: end;
  align-self: center;
}

/** Collab Case Study **/
@media(min-width: 1025px) {
  .collab-font-sample {
    justify-self: center;
  }
  .collab-font-size {
    font-size: 96px;
  }
}

@media(min-width: 320px) and (max-width: 1024px) {
  .collab-font-size {
    font-size: 80px;
  }
}

.collab-blue {
  background-color: #0277BD;
}

.collab-font {
  font-family: 'Roboto', sans-serif;
}

.collab-italic {
  font-style: italic;
}

.collab-bold {
  font-weight: bold;
}

.collab-bold-italic {
  font-weight: bold;
  font-style: italic;
}

.collab-font-sample {
  display: grid;
  grid-template-columns: 15% 50%;
  grid-template-rows: 80px;
  grid-column-gap: 16px;
}

.collab-green {
  background-color: #17A45F;
}

.collab-grey {
  background-color: #4B4C4D;
}

.collab-lightGrey {
  background-color: #DCDCDC;
}

.collab-red {
  background-color: #DD2C00;
}

.collab-white {
  background-color: #F9FDFF;
}

/** Colors **/

.black-background {
  background-color: #272626;
}

.black-font {
  color: #000;
}

.grey-background {
  background-color: #C0BEC3;
}

.white-font {
  color: #fff;
}

/* Menu */

@media (min-width: 1025px) {
  .about {
    display: grid;
    grid-template-columns: 496px 50%;
    grid-row-gap: 55px;
  }
  .about-img {
    width: 460px;
  }
  .desktop-menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 50%;
    justify-self: end;
    margin-right: 147px;
  }
  .menu-icon {
    display: none;
  }
}

@media (min-width: 500px) {
  .mobile {
    display: inline;
  }
}

@media (min-width: 320px) and (max-width: 499px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .desktop-menu {
    display: none;
  }
}

.closeBtn {
  align-self: center;
  font-size: 24px;
  justify-self: end;
  opacity: 0;
  width: 24px;
  z-index: 799;
}

.enableBtn {
  opacity: 1;
}

.menu {
  display: none;
  z-index: 799;
}

.menu-grid {
  display: grid;
  grid-template-rows: 62px 126px;
  grid-template-columns: 100%;
  justify-content: center;
}

.menu-icon {
  opacity: 1;
  z-index: 999;
}

.disBtn{
  opacity: 0;
}

.menu-icon:hover {
  font-size: 26px;
}

.menu-links {
  font-size: 20px;
  font-weight: bold;
  margin-top: 42px;
  text-align: center;
}

.menu-ul {
  justify-self: center;
}

.showMenu{
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
}

/** Structure **/
@media (min-width: 1025px) {
  .auto {
    margin: auto;
  }
  .case-study-desc {
    margin: 0;
    justify-items: left;
    align-items: center;
  }
  .desktop-content {
    margin-left: 120px;
    margin-right: 120px;
  }
  .desktop-word {
    max-width: 600px;
  }
  .desktop-text-center {
    text-align: center;
  }
  .desktop-left {
    justify-items: left;
  }
  .desktop-stretch {
    align-self: stretch;
    align-items: center;
  }
  .footer {
    width: 450px;
  }
  .home-header {
    height: 470px;
  }
  .featured {
    text-align: left;
  }
  .featured-work {
    align-items: center;
    grid-template-columns: 466px 43%;
    grid-gap: 12px;
    justify-content: start;
    margin-left: 120px;
    margin-right: 120px;
    text-align: left;
  }
  .featured-work-image {
    height: 296px;
    width: 456px;
  }
  .form {
    width: 565px;
  }
  .footer-about {
    width: 100%;
    bottom: 0;
  }
  .logo-image {
    width: 106px;
  }
  .logo {
    margin: 0;
  }
  .main {
    margin-bottom: 50px;
  }
  .top-menu {
    height: 137px;
    margin-right: 120px;
    margin-left: 120px;
  }
  .work-container {
    display: grid;
    height: 358px;
  }
}

@media (min-width: 499px) {
  .survey {
    display: grid;
    grid-template-columns: 47% 39%;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .survey-desc {
    justify-items: left;
    display: grid;
    grid-gap: 16px;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .about-img {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    display: grid;
    margin-top: 30px;
  }
  .auto {
    margin: auto;
  }
  .desktop-left {
    justify-items: left;
  }
  .featured {
    text-align: left;
  }
  .featured-work {
    align-items: center;
    grid-template-columns: 319px 46%;
    grid-gap: 12px;
    justify-content: start;
    margin-left: 45px;
    margin-right: 45px;
    text-align: left;
    height: 325px;
  }
  .featured-work-image {
    height: 220px;
    width: 318px;
    justify-self: center;
  }
  .form {
    width: 530px;
  }
  .tablet-content {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .about-img {
    width: 337px;
    justify-self: center;
    display: grid;
    margin: auto;
  }
  .button {
    margin: auto;
  }
  .featured-work {
    height: 487px;
    align-items: center;
    grid-template-rows: 196px 291px;
  }
  .featured-work-image {
    height: 196px;
    width: 100%;
    max-width: 415px;
    justify-self: center;
  }
  .form {
    width: 315px;;
  }
  .stretch-center {
    align-content: center;
    align-self: stretch;
    justify-items: center;
  }
  .content {
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .footer {
    width: 274px;
  }
  .home-header {
    height: 305px;
  }
  .logo-image {
    width: 47px;
  }
  .top-menu {
    height: 62px;
  }
  .main {
    margin-bottom: 50px;
  }
  .stretch-center {
    align-content: center;
    align-self: stretch;
    justify-items: center;
  }
}

body {
  font-family: 'Assistant', sans-serif;
}

.button {
  background-color: #8349FF;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 4px #00000040;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  background-color: #6834D7;
  font-size: 16px;
}

.button-width{
  width: 165px;
}

.case-study-button {
  width: 120px;
}

.wide-button {
  width: 193px;
}

.center {
  text-align: center;
}

.featured-work {
  display: grid;
}

.footer {    
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  height: 60px;
  justify-items: center;
}

.footer-padding {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 16px;
  padding-top: 16px;
}

.form {
  display: grid;
  grid-gap: 15px;
  justify-self: center;
}

.email {
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Assistant', sans-serif;
}

.message {
  height: 100px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Assistant', sans-serif;
}

.home-header {
  background-image: url("../assets/portfoliobackground.jpg");
  background-size: cover;
  background-position: bottom;
  text-shadow: 2px 0px 4px #00000070;
}

.icons {
  font-size: 24px;
  justify-self: end;
  width: 24px;
}

.img-shadow {
  box-shadow: 0px 4px 4px #00000040;
}

.logo {
  justify-self: start;
}

.margin-top-bottom {
  margin-top: 16px;
  margin-bottom: 16px;
}

.stretch-center {
  display: grid;
  grid-row-gap: 16px;
}

.self-center {
  justify-self: center;
}

.top-menu {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

ul {
  font-weight: 100;
  justify-self: center;
}

.ul-persona {
  justify-self: start;
}

/** Typography **/
@media (min-width: 1025px) {
  h1 {
    font-size: 96px;
  }
  .h1-home {
    margin-top: 56px;
  }
  h4 {
    font-size: 34px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 1025px) {
  h1 {
    font-size: 42px;
  }
  .h1-home {
    margin-top: 32px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
}

a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.h1-case-study {
  margin-top: 12px;
}

.h1-home {
  margin-bottom: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  text-align: center;
}

h6 {
  font-weight: bold;
}

.h6-case-study {
  margin-bottom: 7px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}
